<!--<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<div class="container">
    <!-- Navigation Side -->
<!--    <div dion-nanny-navbar class="col-md-3">
<!--    </div>
    <!-- Content Side -->
<!--    <div class="col-md-9">
        <div class="form-horizontal col-md-12">
            <div class="row">
                <div class="field-control">
                    <label for="firstname" class="control-label col-md-3 nanny-info-label">First Name:</label>
                    <input type="text" id="firstname" class="">
                    <!--<div class="col-md-9">
                        <input type="text" id="firstname" class="form-control ">
                    </div>-->
  <!--              </div>
                <div class="field-control">
                    <label for="firstname" class="control-label col-md-3 nanny-info-label">First Name:</label>
                    <input type="text" id="firstname" class="">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="middlename" class="control-label col-md-3 nanny-info-label">Middle Name:</label>
                    <div class="col-md-9">
                        <input type="text" id="middlename" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row nanny-info-row-details" id="spouse-details">
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 nanny-info-detailbox">
                        <div class="row">
                            <label for="spouseName" class="control-label col-md-3 nanny-info-label">Spouse Name:</label>
                            <div class="col-md-9">
                                <input type="text" id="spouseName" class="form-control ">
                            </div>
                        </div>
                        <div class="row">
                            <label for="childrenNo" class="control-label col-md-3 nanny-info-label">No of Children:</label>
                            <div class="col-md-9">
                                <input type="number" id="childrenNo" class="form-control nanny-info-dropdown" placeholder="None">
                            </div>
                        </div>
                        <div class="row">
                            <label for="ChildrenName" class="control-label col-md-3 nanny-info-label">Children's Name:</label>
                            <div class="col-md-9">
                                <input type="text" id="ChildrenName" class="form-control" placeholder="Enter names separated by comma">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-3 nanny-info-label">Education</label>
                </div>
            </div>
            <div class="row row-details">
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 nanny-info-detailbox">
                        <div class="row">
                            <label for="college" class="control-label col-md-3 nanny-info-label">University or College:</label>
                            <div class="col-md-5">
                                <input type="text" id="college" class="form-control">
                            </div>
                            <label for="collegeGradYear" class="control-label col-md-2 nanny-info-gradYear">Year Graduated:</label>
                            <div class="col-md-2">
                                <input type="number" id="collegeGradYear" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <label for="hischool" class="control-label col-md-3 nanny-info-label">Highschool:</label>
                            <div class="col-md-5">
                                <input type="text" id="hischool" class="form-control">
                            </div>
                            <label for="hischoolGradYear" class="control-label col-md-2 nanny-info-gradYear">Year Graduated:</label>
                            <div class="col-md-2">
                                <input type="number" id="hischoolGradYear" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <label for="elementary" class="control-label col-md-3 nanny-info-label">Elementary:</label>
                            <div class="col-md-5">
                                <input type="text" id="elementary" class="form-control">
                            </div>
                            <label for="elemGradYear" class="control-label col-md-2 nanny-info-gradYear">Year Graduated:</label>
                            <div class="col-md-2">
                                <input type="number" id="elemGradYear" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->
<!--<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="js/index.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>*-->



<!doctype html>
<html lang="en">
<head>
    <title>Staff</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container body-theme">
        <div class="row">
            <img src="../images/logo-black.png" class="rounded mx-auto d-block" alt="...">
        </div>
 
            <!-- Content Side -->

            <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="username">User Name:</label>
                            <input type="text" class="form-control" id="username">
                        </div>
                    </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="text" class="form-control" id="password">
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="transactionsDone">No of Transactions:</label>
                    <input type="text" class="form-control" id="transactionsDone">
                    <!--<label for="companyId">Company ID:</label>
                    <input type="text" class="form-control" id="companyId">-->
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row" style="margin-left: 0px;">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <div class="input-group">
                            <label for="admin">Authentication Level:</label>
                        </div>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-outline-primary btn-md dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="color: white; border-color: white;">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">1</a>
                        <a class="dropdown-item" href="#">2</a>
                        <a class="dropdown-item" href="#">3</a>
                    </div>
                </div>
                <!--<div class="form-group">
                    <label for="authLevel">Authentication Level:</label>
                    <input type="text" class="form-control" id="authLevel">
                </div>-->
            </div>
        </div>
        <div class="row">
            <!--<div class="col-sm-4">
                <div class="form-group">
                    <label for="lastTransaction">Last Transaction:</label>
                    <input type="text" class="form-control" id="lastTransaction">
                </div>
            </div>-->
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="transactionsDone">No of Transactions:</label>
                    <input type="text" class="form-control" id="transactionsDone">
                </div>
            </div>
            <div class="col-sm-6">
                    <div class="row" style="margin-left: 0px;">
                        <div class="form-group" style="margin-bottom: 0px;">
                            <div class="input-group">
                                <label for="admin">Admin:</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 0px;">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" style="background: none"><input type="checkbox" aria-label="Checkbox for following text input"></span>
                            </div>
                        </div>
                    </div>
                    <!--<label for="admin">Admin:</label>
        <input type="text" class="form-control" id="admin">-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4" style="text-align: center;">
                <div class="form-group">
                    <button type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color:white">Create Staff</button>
                </div>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
 <!--       <div class="row">
            <div class="form-group">
                <label for="middlename" class="control-label col-md-3 nanny-info-label">Middle Name:</label>
                <div class="col-md-9">
                    <input type="text" id="middlename" class="form-control">
                </div>
            </div>
        </div>
         
    <div class="row nanny-info-row-details" id="spouse-details">
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 nanny-info-detailbox">
                        <div class="row">
                            <label for="spouseName" class="control-label col-md-3 nanny-info-label">Spouse Name:</label>
                            <div class="col-md-9">
                                <input type="text" id="spouseName" class="form-control ">
                            </div>
                        </div>
                        <div class="row">
                            <label for="childrenNo" class="control-label col-md-3 nanny-info-label">No of Children:</label>
                            <div class="col-md-9">
                                <input type="number" id="childrenNo" class="form-control nanny-info-dropdown" placeholder="None">
                            </div>
                        </div>
                        <div class="row">
                            <label for="ChildrenName" class="control-label col-md-3 nanny-info-label">Children's Name:</label>
                            <div class="col-md-9">
                                <input type="text" id="ChildrenName" class="form-control" placeholder="Enter names separated by comma">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-3 nanny-info-label">Education</label>
                </div>
            </div>
            <div class="row row-details">
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 nanny-info-detailbox">
                        <div class="row">
                            <label for="college" class="control-label col-md-3 nanny-info-label">University or College:</label>
                            <div class="col-md-5">
                                <input type="text" id="college" class="form-control">
                            </div>
                            <label for="collegeGradYear" class="control-label col-md-2 nanny-info-gradYear">Year Graduated:</label>
                            <div class="col-md-2">
                                <input type="number" id="collegeGradYear" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <label for="hischool" class="control-label col-md-3 nanny-info-label">Highschool:</label>
                            <div class="col-md-5">
                                <input type="text" id="hischool" class="form-control">
                            </div>
                            <label for="hischoolGradYear" class="control-label col-md-2 nanny-info-gradYear">Year Graduated:</label>
                            <div class="col-md-2">
                                <input type="number" id="hischoolGradYear" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <label for="elementary" class="control-label col-md-3 nanny-info-label">Elementary:</label>
                            <div class="col-md-5">
                                <input type="text" id="elementary" class="form-control">
                            </div>
                            <label for="elemGradYear" class="control-label col-md-2 nanny-info-gradYear">Year Graduated:</label>
                            <div class="col-md-2">
                                <input type="number" id="elemGradYear" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
    </div> <!-- container -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- Custom Page Script -->
    <script>
        $('.dropdown-item').click(function () {
            $('.dropdown-toggle').text($(this).text());
            //alert($(this).text());
        });
    </script>
</body>
</html>