<!doctype html>
<html lang="en">
<head>
    <title></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container body-theme">
        <div class="row">
            <img src="../images/logo-black.png" class="rounded mx-auto d-block" alt="...">
        </div>
 
            <!-- Content Side -->
            <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="username">User Name:</label>
                            <input type="text" class="form-control" id="username">
                        </div>
                    </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="text" class="form-control" id="password">
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row" style="margin-left: 0px;">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <div class="input-group">
                            <label for="admin">Authentication Level:</label>
                        </div>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-outline-primary btn-md dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="color: white; border-color: white;">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">1</a>
                        <a class="dropdown-item" href="#">2</a>
                        <a class="dropdown-item" href="#">3</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row" style="margin-left: 0px;">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <div class="input-group">
                            <label for="admin">Admin:</label>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 0px;">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" style="background: none"><input type="checkbox" aria-label="Checkbox for following text input"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4" style="text-align: center;">
                <div class="form-group">
                    <button type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color:white">Create Staff</button>
                </div>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
    </div> <!-- container -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- Custom Page Script -->
    <script>
        $('.dropdown-item').click(function () {
            $('.dropdown-toggle').text($(this).text());
            //alert($(this).text());
        });
    </script>
</body>
</html>