#notifications-bar {
  width: 20vw;
  background-color: #90A4AE;
  padding: 0;
  border-right: 5px solid black;
}

#account-box {
  width: 70vw;
  height: 60vh;
  background-color: white;
  border: 5px solid black;
  margin: 15vh 5vw 5vh;
}

.notif-button {
  width: 8vw;
  margin-left: 1vw;
  margin-right: 0vw;
  font-size: 80%;
}

img {
  height: 80px;
  width: auto;
  position: fixed;
  left: 21vw;
  top: 1vh;
}

h1 {
  text-align: center;
}

span {
  text-decoration:underline;
}

#body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
}

tr {
  padding: 10px;
  margin: 0;
}

td {
  padding: 0;
  margin: 0;
}

body {
  background-color: #c34433;
}

button {
  margin: 10px;
}

#buttons {
  margin-left: 11vw;
}

#buttons-not-admin {
  margin-left: 18vw;
}

#powered {
  position: fixed;
  right: 10px;
  bottom: 0px;
}
