body {
  height: 100vh;
  background-color: #90A4AE;
}

div {
  text-align: center;
  margin: 35vh auto;
}

img {
  height: 100px;
  width: auto;
}
 #powered {
   position: fixed;
   right: 10px;
   bottom: 0px;
 }
